<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/stylesheets/detalleProducto.css" />
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
  </head>

  <style>
    a {
      text-decoration: none;
    }
  </style>
  <body>
    <header><%-include('../partials/header')%></header>

    <main>
      <% console.log(producto) %>
      <div class="principalDiv">
        <img id="imgDetalle" src="/images/Nier.jpeg" alt="" />

        <br />
        <div id="listaDescripcion">
          <br />
          <div class="nombre">Nombre Articulo</div>
          <br />
          <div class="categoria">Categoria-Nombre Categoria</div>
          <br />
          <p class="descripcion">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique,
            beatae repudiandae id quam quia quod repellat aspernatur. Dolores
            quasi quidem ducimus. Molestias suscipit voluptatem, sit vitae
            reiciendis minima explicabo ullam.
          </p>
        </div>
        <br />
        <div id="listaBoton">
          <div class="contenedorCarrito">
            <div class="precio">$850</div>
            <br />
            <button id="botonAñadir">Añadir al carrito</button>
          </div>

          <div id="contenedorBotones">
            <a href="productos/editarProducto"><button class="botonDetalle">Editar</button></a> 
            <button class="botonDetalle">Eliminar</button>
          </div>
        </div>
      </div>
    </main>
    <footer><%-include('../partials/footer')%></footer>
  </body>
</html>
