<header>
    <h1 id="titulo">Friki Art</h1>
    <nav>
      <ul type="none" id="listaNav">
        
        <li id="liBusquedaMobile"> <i class="fas fa-search"></i> <input type="text" name="" id="inputBusqueda" /></li> 
        <br>
        <li class="lihorizontal" id="liInicio" ><a href="inicio"> Inicio </a></li>  
        <li class="lihorizontal" id="liTienda"><a href=""> Tienda </a></li>  
        <li id="liBusquedaEscritorio"> <i class="fas fa-search"></i> <input type="text" name="" id="inputBusqueda" /></li>   
        <div id="separacionNav"></div>
        <li class="lihorizontal" id="iconoLogin">
          <a href="login"> <i class="fas fa-user-circle"></i> </a>
        </li>
        <li class="lihorizontal" id="iconoCarrito">
          <a href="carritoCompra"> <i class="fas fa-shopping-cart"></i> </a>
        </li>
        <li id="slogan"> <p>¡El que no compra es porque no tiene dinero!</p></li>
      </ul>
    </nav>
  </header>