<!DOCTYPE html>
<html lang="en">
    <%-include('Parsials/head')%>
    <link rel="stylesheet" href="/stylesheets/detalleProducto.css">
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />

  <style>
    a {
      text-decoration: none;
    }
  </style>
  <body>
    <header>
      <h1 id="titulo">Friki Art</h1>
      <nav>
        <ul type="none" id="listaNav">
          
          <li id="liBusquedaMobile"> <i class="fas fa-search"></i> <input type="text" name="" id="inputBusqueda" /></li> 
          <br>
          <li class="lihorizontal" id="liInicio" ><a href="inicio"> Inicio </a></li>  
          <li class="lihorizontal" id="liTienda"><a href=""> Tienda </a></li>  
          <li id="liBusquedaEscritorio"> <i class="fas fa-search"></i> <input type="text" name="" id="inputBusqueda" /></li>   
          <div id="separacionNav"></div>
          <li class="lihorizontal" id="iconoLogin">
            <a href="login"> <i class="fas fa-user-circle"></i> </a>
          </li>
          <li class="lihorizontal" id="iconoCarrito">
            <a href="carritoCompra"> <i class="fas fa-shopping-cart"></i> </a>
          </li>
          <li id="slogan"> <p>¡El que no compra es porque no tiene dinero!</p></li>
        </ul>
      </nav>
    </header>
    <main >
      
      <div class="principalDiv">
        <img id="imgDetalle" src="/images/Nier.jpeg" alt="">
       
        <br>
          <div id="listaDescripcion">
            <br>
            <div class="nombre"> Nombre Articulo </div>
            <br>
            <div class="categoria">Categoria-Nombre Categoria </div>
            <br>
            <p class="descripcion"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, beatae repudiandae id quam quia quod repellat aspernatur. Dolores quasi quidem ducimus. Molestias suscipit voluptatem, sit vitae reiciendis minima explicabo ullam. 
            </p>
          </div>
          <br>
          <div id="listaBoton">
            <div class="precio"> $850 </div>
            <br>
            <button id="botonAñadir">Añadir al carrito</button>
          </div>
        </div>
    </main>
   
    <%-include('Parsials/footer')%>
  </body>
</html>
