<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Pagina para hacer funcionar a los iconos-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Friki Art</h1>
      <nav>
        <ul>
          <li><a href=""> Inicio </a></li>
          <li><a href=""> Tienda </a></li>
          <li><input type="text" name="" id="" /></li>
          <li>
            <a href=""> <i class="fas fa-shopping-cart"></i> </a>
          </li>
          <li>
            <a href=""> <i class="fas fa-user-circle"></i> </a>
          </li>
        </ul>
      </nav>
    </header>
    <main></main>

    <footer>
      <p>
        <strong>Acerca de nosotros:</strong> <br />
        Jorge Isidro Hernandez Ramirez <br />
        Salvador Mendoza Briseño
      </p>
      <a href=""> <i class="fab fa-facebook-square"></i> </a>
      <a href=""> <i class="fab fa-twitter-square"></i> </a>
      <a href=""> <i class="fab fa-instagram-square"></i> </a>
    </footer>
  </body>
</html>
