<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('Parsials/head')%>
    <link rel="stylesheet" href="/stylesheets/estiloLogin.css" />
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    
  </head>
  <body>
    <header>
      <h1 id="titulo">Friki Art</h1>
      <nav>
        <ul type="none" id="listaNav">
          <li id="liBusquedaMobile">
            <i class="fas fa-search"></i>
            <input type="text" name="" id="inputBusqueda" />
          </li>
          <br />
          <li class="lihorizontal" id="liInicio">
            <a href="inicio"> Inicio </a>
          </li>
          <li class="lihorizontal" id="liTienda"><a href=""> Tienda </a></li>
          <li id="liBusquedaEscritorio">
            <i class="fas fa-search"></i>
            <input type="text" name="" id="inputBusqueda" />
          </li>
          <div id="separacionNav"></div>
          <li class="lihorizontal" id="iconoLogin">
            <a href="login"> <i class="fas fa-user-circle"></i> </a>
          </li>
          <li class="lihorizontal" id="iconoCarrito">
            <a href="carritoCompra"> <i class="fas fa-shopping-cart"></i> </a>
          </li>
          <li id="slogan">
            <p>¡El que no compra es porque no tiene dinero!</p>
          </li>
        </ul>
      </nav>
    </header>

    <article>
        <strong>Correo electronico:</strong>
        <div><input type="text"></div>
        <strong>Contraseña:</strong>
        <div><input type="text"> </div>
        <button class="boton">Login</button>
        <a href="">¿Olvidaste tu contraseña?</a>
        <a href="formatoRegistro">¿No tienes cuenta?, registrate aqui</a>
    </article>
    <%-include('Parsials/footer') %>
  </body>
</html>
