<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/stylesheets/estiloFormato.css" />
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
  </head>
    
    
  <body>
    <header>
      <%-include('../partials/header')%>
    </header>
    

    <article id="formato">
        <strong>Nombre:</strong>
        <div><input type="text"></div><br>
        <strong>Apellido:</strong>
        <div><input type="text"> </div><br>
        <strong>Correo:</strong>
        <div><input type="email" value="example@gmail.com"> </div><br>
        <strong>Contraseña:</strong>
        <div><input type="password"> </div><br>
        <strong>Confirmar Contraseña:</strong>
        <div><input type="password"> </div><br>
        <button class="boton"><strong>Registrarme</strong> </button>
    </article>
    <footer>
      <%-include('../partials/footer')%>
    </footer>
    
  </body>
</html>
