<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../partials/head')%>
      <link rel="stylesheet" href="/stylesheets/estiloLogin.css" />
      <link rel="stylesheet" href="/stylesheets/estilos.css" />
      <link rel="stylesheet" href="/stylesheets/normalize.css" />
      
    </head>
  
  </head>
  <body>
    <header>
      <%-include('../partials/header')%>
    </header>
  

    <article>
        <strong>Correo electronico:</strong>
        <div><input type="text"></div>
        <strong>Contrase単a:</strong>
        <div><input type="text"> </div>
        <button class="boton">Login</button>
        <a href="">多Olvidaste tu contrase単a?</a>
        <a href="formatoRegistro">多No tienes cuenta?, registrate aqui</a>
    </article>
    
      
    <%-include('../partials/footer') %>
  </body>
  
</html>
